


-# .posts
-#  .posts__box
-#   .posts__box__icon
-#   .posts__box__name
-#   .posts__box__movie
-#   .popts__box__comment
-#  .posts__box1
-#   .posts__box1__icon
-#   .posts__box1__name
-#   .posts__box1__movie
-#   .popts__box1__comment
-#  .posts__box2
-#   .posts__box2__icon
-#   .posts__box2__name
-#   .posts__box2__movie
-#   .popts__box2__comment



.footer
 .footer__logo
  @2020 Daichi.T All rights reserved.
 .footer__icon
  .footer__icon__google
   = link_to "https://www.google.co.jp/maps/?hl=ja", class: "contents__btn" do
    = icon('fab', 'google')
  .footer__icon__facebook
   = link_to "https://www.facebook.com/", class: "contents__btn" do
    = icon('fab', 'facebook-square')
  .footer__icon__instagram
   = link_to "https://www.instagram.com/", class: "contents__btn" do
    = icon('fab', 'instagram')
  .footer__icon__twitter
   = link_to "https://twitter.com/", class: "contents__btn" do
    = icon('fab', 'twitter')
