.header
 = render "layouts/shared/header"

.movie
 - @feeling.movies.each do |movie|
  .movie__box
   .movie__box__mi1
    = image_tag movie.image.to_s
   .movie__box__name
    = link_to movie_path(movie.id),class: "link" do
     = movie.name

-#  .posts__form
-#   = form_for @movie, url: movies_path, method: :post do |movies_form|
-#    = movies_form.select :feeling_id,[["HeartBreak?","1"],["Study?","2"],["Technology?","3"],["Adventurous?","4"],["Scary?","5"],["Surprise?","6"]], :prompt => "Current Feeling?", class:"posts__form__feeling"
-#    %br
-#    = movies_form.label :name, "Movie title :", class: "posts__form__title-form"
-#    = movies_form.text_field :name
-#    %br
-#    = movies_form.label :text, "Comment :" ,class: "posts__form__comment-form"
-#    = movies_form.text_field :text
-#    %br
-#    = movies_form.label :image, "Movie Poster", class: "posts__form__poster-form" do
-#     = icon("fas","film",class:"movie-icon")
-#     = movies_form.file_field :image, class:"hidden"
-#    %br
-#    = movies_form.submit "Post", class:"posts__form__submit"


.footer
 = render "layouts/shared/footer"