.footer
 .footer__logo
  @2020 Daichi.T All rights reserved.
 .footer__icon
  .footer__icon__google
   = link_to "https://www.google.co.jp/maps/?hl=ja", class: "contents__btn" do
    = icon('fab', 'google')
  .footer__icon__facebook
   = link_to "https://www.facebook.com/", class: "contents__btn" do
    = icon('fab', 'facebook-square')
  .footer__icon__instagram
   = link_to "https://www.instagram.com/", class: "contents__btn" do
    = icon('fab', 'instagram')
  .footer__icon__twitter
   = link_to "https://twitter.com/", class: "contents__btn" do
    = icon('fab', 'twitter')