.header
 = render "layouts/shared/header"

.movie
 .movie__poster
  .movie__poster__image
   = image_tag @movie.image.to_s
  .movie__poster__name
   Movie Title
   %br
   = @movie.name
  .movie__poster__text
   User Review
   %br
   = @movie.text

 .movie__container
  .movie__container__comment
   - @comments.each do |comment|
    .movie__container__comment__user
     = comment.user.name
    .movie__container__comment__text
     = comment.text 

  .movie__container__form
   .movie__container__form__send
    =form_with(model: [@movie,@comment]) do |form|
     .movie__container__form__send__area
      =form.text_area :text, placeholder:"Puts the comment", rows: "2"
     .movie__container__form__send__btn
      =form.submit "Send"

.footer
 = render "layouts/shared/footer"