.header
 = render "layouts/shared/header"

.account-page
 .account-page__inner
  .account-page__inner__top
   .account-page__inner__top__s1      
    %h2 Edit Account
    = link_to "Log out", destroy_user_session_path, method: :delete, class: 'btn'
    = link_to "Home", root_path, class: 'btn'
   .account-page__inner__under
    = form_for(current_user) do |f|
     .field
      .field-label
       = f.label :name
      .field-input
       = f.text_field :name, autofocus: true
     .field
      .field-label
       = f.label :email
      .field-input
       = f.email_field :email
     .actions
      = f.submit "Update", class: 'actions__btn'

      
.footer
 = render "layouts/shared/footer"
