.header
 = render "layouts/shared/header"

.posts
 - @movie.each do |movie|
  .posts__box
   .posts__box__name
    = movie.name
   .posts__box__image
    = image_tag movie.image.to_s
   .posts__box__comment
    = movie.text
   .posts__box__user
    = movie.user.name

.footer
 = render "layouts/shared/footer"