.header
 = render "layouts/shared/header"


.account-page
 .account-page__inner
  .account-page__inner__top
   .account-page__inner__top__s1      
    Log in
    %br
    = render "devise/shared/links"
  .account-page__inner__under
   = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .field
     .field-label
      = f.label :email
     .field-input
      = f.email_field :email, autofocus: true
    .field
     .field-label
      = f.label :password
      %i (Minimum 8 words)
     .field-input
      = f.password_field :password, autocomplete: "off"
    .actions
     = f.submit "Log in", class: 'actions__btn'


.footer
 = render "layouts/shared/footer"
