.header
 .header__menu
  .header__menu__home 
   =link_to root_path, class:"header___menu__home__btn" do
    Home
  .header__menu__movies 
   =link_to "#", class:"header__menu__movies__btn" do
    Movies
  .header__menu__register 
   =link_to new_user_registration_path, class:"header__menu__register__btn" do
    Register
  .header__menu__login 
   =link_to new_user_session_path, class:"header__menu__login__btn" do
    Log in
  .header__menu__contact 
   =link_to "#", class:"header__menu__contact__btn" do
    Contact

 .header__user
  -# - if user_signed_in?
  -#  = link_to current_user.name, class: "header_user_name" do
  -#  = link_to edit_user_path(current_user),class:"header_user_edit" do
  -#   = icon('fas', 'cog', class: 'icon')

  .header__user__name
   = current_user.name
  .header__user__edit
   = link_to edit_user_path(current_user) do
    = icon('fas', 'cog', class: 'icon')

.contants 
 .contants__bg
  .contants__bg__box
   .contants__bg__box__name Filmce
   .contants__bg__box__text To find the movies with your feelings.
   .contants__bg__box__start 
    =link_to "#", class:"contants__bg__box__start--btn" do
     Start now
   .contents__bg__box__logos 
    .contents__bg__box__logos__apple 
     %a{href: "https://apps.apple.com/jp/app/itunes-store/id915061235?mt=8"}
      = image_tag "https://linkmaker.itunes.apple.com/ja-jp/badge-lrg.svg?releaseDate=2016-06-01&kind=iossoftware&bubble=ios_apps",style: 'margin: 0px 0px 12px 0px ' 
     %a{href: "https://play.google.com/store?utm_source=apac_med&utm_medium=hasem&utm_content=Jan0220&utm_campaign=Evergreen&pcampaignid=MKT-DR-apac-jp-1003227-med-hasem-py-Evergreen-Jan0220-Text_Search_BKWS-BKWS%7cONSEM_kwid_43700012434507668_creativeid_287118496246_device_c_kwd_kwd-28432345789_geoid_1028853_network_g&gclid=CjwKCAiA1L_xBRA2EiwAgcLKA-XGHOWjDaPc5hF8JXG7m0ZrlccbwJSflm9FqihRyn3MdnDPLJ157BoC8isQAvD_BwE&gclsrc=aw.ds&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1"}
      = image_tag "https://play.google.com/intl/en_us/badges/static/images/badges/ja_badge_web_generic.png", width:"165",height:"63",style: 'margin: px 0px 0px 0px;'

.purpose
 .purpose__logo
  -# ここに社名ロゴを挿入予定
 .purpose__title
  Film + medicine = Filmce 
 .purpose__text
  We think that movies will resolve your conflict with unexpected impression.
  %br
  And the movie will heal you like a medicine. 

 .purpose__select
  %br
  Please choose your current feelings...

.logobox
 .logobox__logos1
  .logobox__logos1__heartbroke
   =link_to image_tag("heart.png", width:"100", height:"100"), "#" 
   %br
   Heartbreak ?
  .logobox__logos1__study
   =link_to image_tag("study.png", width:"100",height:"98"), "#"
   %br 
   Study ?
 .logobox__logos2
  .logobox__logos2__technology
   =link_to image_tag("technology.png", width:"100",height:"98"), "#" 
   %br
   Technology ?
  .logobox__logos2__adventurous
   =link_to image_tag("adventurous.png", width:"100",height:"98"), "#" 
   %br
   Adventurous ?
 .logobox__logos3
  .logobox__logos3__scary
   =link_to image_tag("scary.png", width:"100",height:"98",class:"hover10"), "#" 
   %br
   Scary ?
  .logobox__logos3__surprise
   =link_to image_tag("surprise.png", width:"100",height:"98"), "#" 
   %br
   Surprise ?
 

.youtube 
 .youtube__text 
  The top movie of this week.
  .youtube__text__comment
   Go theaters to watch this one.
   You can check movie theaters which located near you from under "G" logo.
 .youtube__mv
  %iframe#player{width:"560",height:"315", src:"https://www.youtube.com/embed/8Qn_spdM5Zg?start=0?autoplay=1" ,frameborder:"0",allow:"accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"}


.footer
 .footer__logo
  @2020 Daichi.T All rights reserved.
 .footer__icon
  .footer__icon__google
   = link_to "https://www.google.co.jp/maps/?hl=ja", class: "contents__btn" do
    = icon('fab', 'google')
  .footer__icon__facebook
   = link_to "https://www.facebook.com/", class: "contents__btn" do
    = icon('fab', 'facebook-square')
  .footer__icon__instagram
   = link_to "https://www.instagram.com/", class: "contents__btn" do
    = icon('fab', 'instagram')
  .footer__icon__twitter
   = link_to "https://twitter.com/", class: "contents__btn" do
    = icon('fab', 'twitter')
